  * {
   box-sizing: border-box; 
   overscroll-behavior: none;
  }
  body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 80em;
    background-color: #888;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }
  #main {
    display: flex;
    height: calc(100vh - 8.2em);
  }
  #main > article {
    flex: 1;
    overflow: scroll;
    background: white;
  }
  #main > aside {
    flex: 0 0 20vw;
    overflow: scroll;
    background: #f1f1f1;
  }
  article, aside {
    padding: 2em;
  }
  header, footer {
    padding: 0;
  }
  header {
    height: 5.4em;
    background-color: #f1f1f1;
  }
  footer {
    height: 2.8em;
    background-color: #333;
  }

  /* Style the navigation bar links */
  a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: .8em 1.2em;
    text-decoration: none;
    height: 100%;
  }

  /* Right-aligned link */
  a.right {
    float: right;
  }

/* Change color on hover */
  a:hover {
    background-color: #ddd;
    color: black;
  }

/* Additional classes */
/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}


.clause {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  max-width: 90%;;
}

.label {
  font-size: 80%;
  color: #888;
  text-align: left;
}

.hebrew {
  width: 50%;
}

.hebrew p {
  font-size: 140%;
  text-align: right;
  margin-top: 0px;
}

.english {
  width: 50%;
}

.english p {
  font-size: 110%;
  text-align: left;
  margin-top: .4ex;
  /* margin-left: 10px; */
}

.word:hover {
  color: rgb(180, 0, 0);
  cursor: pointer;
}

#wordform_table {
  text-align: right;
}