* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  max-width: 80em;
  background-color: #888;
  overflow: hidden;
  overscroll-behavior: none;
}


/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar p {
  margin: 0;
  padding: 10px;
  padding-right: 15px;
  text-align: right;
  color: black;
  background-color: #ddd;
  font-size: 120%;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Main column */
.main {   
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  background-color: white;
  padding-top: 3em;
  padding-bottom: 10em;
  height: 100px;
  overflow: scroll;
  overscroll-behavior: contain;
}

/* Sidebar/left column */
.side {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  background-color: #f1f1f1;
  padding-top: 3em;
  padding-left: 2em;
  height: 100px;
  overflow: scroll;
  overscroll-behavior: contain;
}

/* Style the top footer */
.footer {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the footer links */
.footer a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.footer a.right {
  float: right;
}

/* Change color on hover */
.footer a:hover {
  background-color: #ddd;
  color: black;
}

/* Additional classes */
.chapter_title {
  position: fixed; 
  top: 80px; 
  background-color: transparent; 
  padding: 5px;
}


/* Additional classes */
.clause {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  max-width: 90%;;
}

.label {
  font-size: 70%;
  color: #888;
  text-align: left;
}

.hebrew {
  width: 50%;
}

.hebrew p {
  font-size: 140%;
  text-align: right;
  margin-top: 0px;
}

.english {
  width: 50%;
}

.english p {
  font-size: 110%;
  text-align: left;
  margin-top: .4ex;
  /* margin-left: 10px; */
}

.word:hover {
  color: rgb(180, 0, 0);
  cursor: pointer;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}