* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar p {
  margin: 0;
  padding: 10px;
  padding-right: 15px;
  text-align: right;
  color: black;
  background-color: #ddd;
  font-size: 120%;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin-top: 80px;
}

/* Create two unequal columns that sits next to each other */
/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
  height: 600px;
  overflow: scroll;
}

/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  height: 600px;
  overflow: scroll;
}

/* Style the top footer */
.footer {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the footer links */
.footer a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.footer a.right {
  float: right;
}

/* Change color on hover */
.footer a:hover {
  background-color: #ddd;
  color: black;
}

/* Additional classes */
.clause {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  max-width: 30em;
}

.label {
  font-size: 70%;
  color: #888;
  text-align: right;
}

.hebrew {
  font-size: 140%;
  text-align: right;
}

.english {
  text-align: justify;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}